body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.nav-btn {
  padding: 10px 20px;
  margin: 590px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
